<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adatafun.recommendation.mapper.ItdCarMapper">
  <resultMap id="BaseResultMap" type="com.adatafun.recommendation.model.ItdCar">
    <result column="fd_id" jdbcType="BIGINT" property="fdId" />
    <result column="fd_code" jdbcType="VARCHAR" property="fdCode" />
    <result column="fd_name" jdbcType="VARCHAR" property="fdName" />
    <result column="fd_scode" jdbcType="VARCHAR" property="fdScode" />
    <result column="fd_type" jdbcType="BIGINT" property="fdType" />
    <result column="fd_cars" jdbcType="VARCHAR" property="fdCars" />
    <result column="fd_carsname" jdbcType="VARCHAR" property="fdCarsname" />
    <result column="fd_citycode" jdbcType="VARCHAR" property="fdCitycode" />
    <result column="fd_cityname" jdbcType="VARCHAR" property="fdCityname" />
    <result column="fd_areacode" jdbcType="VARCHAR" property="fdAreacode" />
    <result column="fd_areaname" jdbcType="VARCHAR" property="fdAreaname" />
    <result column="fd_withmiles" jdbcType="BIGINT" property="fdWithmiles" />
    <result column="fd_currencytype" jdbcType="VARCHAR" property="fdCurrencytype" />
    <result column="fd_startingprice" jdbcType="BIGINT" property="fdStartingprice" />
    <result column="fd_kilometreprice" jdbcType="BIGINT" property="fdKilometreprice" />
    <result column="fd_currencytype2" jdbcType="VARCHAR" property="fdCurrencytype2" />
    <result column="fd_startingprice2" jdbcType="BIGINT" property="fdStartingprice2" />
    <result column="fd_kilometreprice2" jdbcType="BIGINT" property="fdKilometreprice2" />
    <result column="fd_del" jdbcType="BIGINT" property="fdDel" />
    <result column="fd_lg" jdbcType="VARCHAR" property="fdLg" />
    <result column="fd_limit" jdbcType="BIGINT" property="fdLimit" />
    <result column="fd_nightfee" jdbcType="BIGINT" property="fdNightfee" />
    <result column="fd_nstart" jdbcType="DATE" property="fdNstart" />
    <result column="fd_nend" jdbcType="DATE" property="fdNend" />
    <result column="fd_showapp" jdbcType="BIGINT" property="fdShowapp" />
  </resultMap>
  <select id="getCarList"  parameterType="string"  resultType="map">
    select * from itd_car where fd_del = 0 and fd_lg = 'zh-cn' and fd_scode = #{airportCode,jdbcType=VARCHAR}
  </select>
</mapper>